body {
    background-color: #222;
}
body::-webkit-scrollbar{
    display: none;
}

.container::-webkit-scrollbar-track
{
    border: 1px solid #9923c7;
    background-color: #F5F5F5;
}

.container::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

.container::-webkit-scrollbar-thumb
{
    background-color: #9923c7;
}

object {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.container {
    text-align: center;
    width: 80%;
    position: fixed;
    left: 10%;
    right: 10%;
    top: 50px;
    background: black;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px #FFF;
}
.playlist {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
    margin: 30px 20px;
    display: inline-flex;
    opacity: 0.85;
    transition: 700ms ease;
}
.playlist:hover {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 30px 2px #fff;
    filter:contrast(120%)
}
.playlist .playlist-image {
    width: 100%;
    border-radius: 50%;
    opacity: 0.85;
}
.playlist .playlist-name {
    position: absolute;
    color: #9923c7;
    width: 100%;
    font-size: 18px;
    text-align: center;
    left: -25px;
    bottom: -12px;
    height: 150px;
    transform: rotate(265deg);
}
.playlist .playlist-name .letter {
    height: 200px;
    position: absolute;
    width: 20px;
}
.playlist .playlist-player {
    position: absolute;
    width: 80px;
    left: 35px;
    right: 35px;
    height: 150px;
    color: #fff;
    opacity: 0.25;
}
.playlist .playlist-player:hover {
    opacity: 1;
}
.playlist .playlist-player .edit {
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 300ms ease;
}
.playlist .playlist-player .delete {
    position: absolute;
    top: 15px;
    left: 10px;
    transition: 300ms ease;
}
.playlist .playlist-player .play {
    width: 60px;
    height: 60px;
    left: 10px;
    right: 10px;
    font-size: 50px;
    position: absolute;
    top: 50px;
    text-align: center;
    transition: 300ms ease;
}
.fa {
    background-color: black;
    border-radius: 50%;
    padding: 5px;
}
.fa:hover {
    color: #9923c7;
    transform: rotateX(20deg);
}
.fa:active {
    color: #4518a0;
}
